<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html;charset=UTF-8" http-equiv="Content-Type"/>
    <title>OL Jasmine Specs</title>
    <%= stylesheet_link_tag *jasmine_css_files %>
  </head>
  <body>
    <div id="jasmine_content"></div>
    
    <%= javascript_include_tag 'jquery' %>
    <%= javascript_include_tag *jasmine_js_files %>
    <script>
    require.config(<%= @require_config_json %>);
    </script>
    <script>
    requirejs(<%= @spec_modules_json %>, function(){
      console.log("got it..");
      
      //works to execute the specs, but not picked up by phantom
      // - even with ConsoleReporter
      jasmine.getEnv().execute();
    });
    </script>
  </body>
</html>
